<template>
  <header>
      <div>
          <h1 class="hola">Titulo WEB Vue</h1>
      </div>
    variableOculta={{variableOculta}} 
    <br>nombre={{nombre}} 
    <br>los dos valores={{nombre.toUpperCase() + " " + (2*3) + " "+ variableOculta.toLowerCase()}}
  </header>
</template>

<script>
export default {
data(){
    return{
        variableOculta:"Variable Oculta",
        nombre:"Chino Cudeiro"
    };
}
}
</script>

<style>
</style>