<template>
  <div id="app">
    <!--Este es el CompHeader que lo llamamos como queramos-->
    <CompChino></CompChino>
    <img alt="Vue logo" src="./assets/logo.png">
    <HolaComp msg="Bienvenido a tu Vue.js App "/>
    <link rel="sylesheet" src="./assets/estilo.css">
    <ul>
      <li v-for="heroe in heroes" :key="heroe.id">{{heroe.nombre}}
      </li>
    </ul>
  </div>
</template>

<script>
import HolaComp from './components/HolaMundo.vue';
//Este es el CompHeader que lo llamamos como queramos
import CompChino from './components/CompHeader.vue';
import func from '../vue-temp/vue-editor-bridge';

export default {
  name: 'App',
  components: {
    HolaComp, CompChino
  },
  data(){ 
    return{
    heroes:[]
    }
  },
  beforeCreate(){
    let prometemeHeroes = fetch("http://localhost:8080/api/heroes");
    //Asincronamente( Dentro de un rato) recibiremos el JSON en una callback
    prometemeHeroes.then((respuestaHttp) => {
      return respuestaHttp.json();
    }).then((data) => {
       this.heroes=data;
    })
  }
}
</script>

<style lang="scss">
@import "./assets/estilo.css";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
